.pc-only {
  display: inline;
}
.sp-only {
  display: none;
}

@media screen and (max-width: 750px){
  .pc-only {
      display: none;
  }
  .sp-only {
      display: inline;
  }
}

a {
  text-decoration: none;
}

p {
  font-size: 15px;
  line-height: 1.8;
}

table {
  table-layout: fixed;
}

.bg-clear-white {
  background-color: rgba(255, 255, 255, 0.7);
}